<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset=utf-8>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>管理后台</title>
    <link href='{$app_css}' rel=stylesheet>
    <script charset="utf-8" src="https://map.qq.com/api/gljs?v=1.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
</head>
<body>
<div id=app></div>
<script>
    var lbConfig = {
        jsPath: '{$jsPath}',
        isWe7: '{$isWe7}',
        is_founder: '{$is_founder}'
    }
    window.lbConfig = lbConfig;
</script>
<script type=text/javascript src='{$manifest}'></script>
<script type=text/javascript src='{$vendor}'></script>
<script type=text/javascript src='{$app}'></script>
<script charset=utf-8 src="https://map.qq.com/api/js?v=2.exp&key=2LNBZ-HT2R2-LENUE-CBNZK-QZ4VS-AQB5Z"></script>
</body>
</html>