<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="initial-scale=1,user-scalable=no">
    <meta name=renderer content=webkit>
    <meta name=force-rendering content=webkit>
    <meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">
    <meta name=referrer content=never>
    <title>管理后台</title>
    <script charset=utf-8 src="https://map.qq.com/api/gljs?v=1.exp&key={$map_secret}"></script>
    <link href=./static/css/app.10b4e47bf29e0f5ddd633c7c3dd55a4a.css rel=stylesheet>
</head>
<body>
<script>var lbConfig = {
    jsPath: '{$jsPath}',
    isWe7: '{$isWe7}',
    is_founder: '{$is_founder}'
}
window.lbConfig = lbConfig;</script>
<div id=app></div>
<script charset=utf-8 src="https://map.qq.com/api/js?v=2.exp&key={$map_secret}"></script>
<script type=text/javascript src=./static/js/manifest.471fd3e35448b066b4cc.js></script>
<script type=text/javascript src=./static/js/vendor.0c0848709df5de1da385.js></script>
<script type=text/javascript src=./static/js/app.d0ddb921df4051d1aaf1.js></script>
</body>
</html>