<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="initial-scale=1,user-scalable=no">
    <meta name=renderer content=webkit>
    <meta name=force-rendering content=webkit>
    <meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">
    <meta name=referrer content=never>
    <title>管理后台</title>
    <script charset=utf-8 src="https://map.qq.com/api/gljs?v=1.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
    <link href=./static/css/app.2273c628f2f5cb52116647fd0c7bc594.css rel=stylesheet>
</head>
<body>
<script>var lbConfig = {
    jsPath: '/addons/longbing_card/core2/public/'
}</script>
<div id=app></div>
<script charset=utf-8 src="https://map.qq.com/api/js?v=2.exp&key=2LNBZ-HT2R2-LENUE-CBNZK-QZ4VS-AQB5Z"></script>
<script type=text/javascript src=./static/js/manifest.d9dea8101dcf8f76f694.js></script>
<script type=text/javascript src=./static/js/vendor.0c0848709df5de1da385.js></script>
<script type=text/javascript src=./static/js/app.52bd990302f87f42737b.js></script>
</body>
</html>