$themeColor:#609beb;
$fontColor: #424753;
$bgThemeColor: #f5f7fa;
$lineColor: #eff2f6;
$tipsColor: #aaafbb;
$columnBgColor: #f5f7fa;
$primaryColor: #609beb;
$primaryBgColor: #E8F1FB;
$dangerColor: #fe6c6f;
$dangerBgColor: #fff6f7;
